DATABASE_URL=postgres://user:password@host:5432/dbname
DIRECT_URL=postgres://user:password@host:5432/dbname
JWT_SECRET=your-jwt-secret
NEXT_PUBLIC_BASE_URL=https://projectkaru.com
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Meta Pixel — get from Meta Events Manager
NEXT_PUBLIC_META_PIXEL_ID=862848263044423
META_ACCESS_TOKEN=EAAcJ7YzhDVIBRuUZAcMqD18694v4oHdQQyTf8hjXFcjd2mng3ls2EnhKgZBx5SYKR0Kx0GW1csKSTfrU3XRean5TnmlKc66lGoivQPdQVgrNLdm6lKziUn5OQe4mtqT6J0xNKaar2aIFcDwRD2RZApPAJlWajnevpvpFyN0N6edZCGxhmrwi2S6eeFtoDZASULgZDZD
